<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>詹老师的博客</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/blog.css">
</head>

<body>
<div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
       <a class="blog-nav-item  <%= active.index %>" href="/">主页</a>
        <a class="blog-nav-item <%= active.content %>" href="/content">博客</a>
        <a class="blog-nav-item <%= active.post %>" href="/post">发博客</a>
      </nav>
    </div>
</div>
<article>
  <% if(success){ %>
    <div><%= success %></div>
  <% } %>
  <% if(error){ %>
    <div><%= error %></div>
  <% } %>
</article>